body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    font-family: Gayathri, sans-serif;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.world-image {
    max-width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

#country-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px , 1fr));
    grid-gap: 1rem;
}

ul {
    font-family: "Liberation Sans", sans-serif;
    background-color: hsl(0, 0%, 95%);
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;
    font-size: x-small;
}



